.btn {
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin: 20px;
  padding: 20px 15px;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  color: rgb(0, 18, 84);
  outline: 0;
}

.first {
  color: #000;
  border: 2px solid #000;
}

.second {
  color: rgb(30, 0, 255);
  border: 2px solid rgb(30, 0, 255);
}
